torch==2.1.1
torchvision==0.16.1
pytorch-metric-learning==1.1.2
numpy
pandas
scipy
tensorboard
tensorboardX
ocnn==2.2.2
tqdm
plyfile
laspy[lazrs]
scikit-learn
scikit-image
wget
timm
pyyaml
matplotlib
thop
wandb
open3d
shapely
cloth-simulation-filter
numba